body {
	background-color: #ef1f75;
	color: white;
	text-align: center;
	font: arial;
	max-width: 75%;
	margin: 0 auto;
}

#input {
	background-color: white;
	color: #ef1f75;
}

img {
	max-width: 50%;

}

.person {
	border: 5px solid white;
	background-color: #ff75ae;
	padding: 25px;
	margin: 10px;
}

h1 {
	font-size: 3em;
}

#nameTitle {
	font-size: 1.25em;
}
